# Random Sample Imputation

It assumes that data are missing completely at Random (MCAR).

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("E:\\100DaysDataScience\\datasets\\titanic_train.csv", usecols=['Age', 'Fare', 'Survived'])

In [3]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [5]:
df.isnull().sum()   #check null values

Survived      0
Age         177
Fare          0
dtype: int64

In [7]:
df.isnull().mean()*100     #percentage of null values

Survived     0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [58]:
df['Age'].dropna().sample()
#this will replace NA with randomvalue
#but this will replace only one value ....we need 
#177 values to replace

526    50.0
Name: Age, dtype: float64

In [68]:
#for this we can use
"""This will replace all the 177 values with random values"""
df['Age'].dropna().sample(df['Age'].isnull().sum(), random_state=0)

423    28.00
177    50.00
305     0.92
292    36.00
889    26.00
       ...
539    22.00
267    25.00
352    15.00
99     34.00
689    15.00
Name: Age, Length: 177, dtype: float64

In [61]:
def impute_nan(df, variable, median):
    """fill the nan values with median"""
    
    df[variable+"_median"] = df[variable].fillna(median)
    df[variable+"_random"] = df[variable]
    ##It will have the random sample to fill the na
    random_sample=df[variable].dropna().sample(df['Age'].isnull().sum(), random_state=0)